# Lambda with map()

## ðŸ”¹ **10 Questions: Lambda with `map()`**

Each task uses a lambda function with `map()` to **transform** items.
1. Add 100 to every number in `[10, 20, 30, 40]`.
2. Convert all names in `['alice', 'bob', 'charlie']` to uppercase.
3. Get the length of each word in `['python', 'data', 'AI']`.
4. Multiply each number in `[1, 2, 3, 4, 5]` by its index.
5. Square each number in `[3, 5, 7, 9]`.
6. Convert Celsius `[0, 10, 20, 30]` to Fahrenheit.
7. Round each number in `[3.456, 7.891, 2.675]` to 1 decimal place.
8. Add â‚¹18 GST to prices `[100, 250, 500]`.
9. Extract the first letter from each word in `['apple', 'banana', 'cherry']`.
10. Format list of names `['john', 'jane']` to `'Hello, John!'` and `'Hello, Jane!'`

In [7]:
# 1. Add 100 to every number in `[10, 20, 30, 40]`.
# Syntax - map(function, iterable)
num=[10,20,30,40]

add_100= list(map(lambda x: x+100, num))
print(add_100)

[110, 120, 130, 140]

In [11]:
# 2. Convert all names in `['alice', 'bob', 'charlie']` to uppercase.
str=['alice', 'bob', 'charlie']
upper_case= list(map(lambda x: x.upper(),str))
print(upper_case)

['ALICE', 'BOB', 'CHARLIE']

In [13]:
# 3. Get the length of each word in `['python', 'data', 'AI']`.
str=['python', 'data', 'AI']
check_len=list(map(lambda x : len(x),str))
print(check_len)

[6, 4, 2]

In [20]:
# before solving 4th assignment let's learn this
# What enumerate() does
# It adds a counter (index) to each item in an iterable.

num = [1, 2, 3, 4, 5]
for i, v in enumerate(num):
    print(i, v)

0 1
1 2
2 3
3 4
4 5

In [26]:
# 4. Multiply each number in `[1, 2, 3, 4, 5]` by its index.
num=[1, 2, 3, 4, 5]
num_index= list(map(lambda x: x[0]*x[1], enumerate(num))) #Note x[0] means indexes column
print(num_index)                                          # x[1] means value column as show above in enumerate() example

[0, 2, 6, 12, 20]

In [28]:
# 5. Square each number in `[3, 5, 7, 9]`.
num=[3, 5, 7, 9]
square= list(map(lambda x: x*x, num))
print(square)

[9, 25, 49, 81]

In [30]:
# 6. Convert Celsius `[0, 10, 20, 30]` to Fahrenheit.
# formula -> f=c*9/5+32
celsius=[0, 10, 20, 30]
fahrenheit= list(map(lambda x: x*(9/5)+32,celsius))
print(f"Fahrenheit:{fahrenheit}")

Fahrenheit:[32.0, 50.0, 68.0, 86.0]

In [32]:
# 7. Round each number in `[3.456, 7.891, 2.675]` to 1 decimal place.
decimal=[3.456, 7.891, 2.675]
round_2=list(map(lambda x: round(x,2),decimal))
print(round_2)

[3.46, 7.89, 2.67]

In [34]:
# 8. Add â‚¹18 GST to prices `[100, 250, 500]`.
prices=[100, 250, 500]
with_gst=list(map(lambda x: x+18,prices))
print(f"Price with gst:{with_gst}")

Price with gst:[118, 268, 518]

In [37]:
# 9. Extract the first letter from each word in `['apple', 'banana', 'cherry']`.
lst=['apple', 'banana', 'cherry']
first_letter= list(map(lambda x: x[0:1],lst))
print(first_letter)

['a', 'b', 'c']

In [45]:
# 10. Format list of names `['john', 'jane']` to `'Hello, John!'` and `'Hello, Jane!'`
lst=['john','jane']
formatted_lst= list(map(lambda x: f"Hello, {x.capitalize()}!",lst))
print(formatted_lst)

['Hello, John!', 'Hello, Jane!']